.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
a:link {
  color: blue;
}
a:hover {
  color: red;
}
a:visited {
  color: gray;
}
p:first-child {
  color: red;
}
p i:first-child {
  color: blue;
}
h1::before {
  color: red;
}
p::first-line {
  color: #ff0000;
  font-variant: small-caps;
}
h1::before {
  content: url(smiley.gif);
}
h2::after {
  content: url(smiley.gif);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
